.header-container2 {
    background-color: $primary-color;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 16px 5%;
    border-bottom: 2px solid $secondary-color;
}

.navbar2 {
    @include flex-center(row);
    justify-content: space-between;
    flex-wrap: nowrap;

    .name {
        align-self: center;
        h1 {
            color: $white-color;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    .lns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        max-width: 200px;

        .logo2 {
            transition:
                opacity 0.3s ease,
                visibility 0.3s ease;
            img {
                width: 54px;
            }
        }
    }

    .hidden {
        opacity: 0;
        display: none;
    }

    .search2 {
        @include flex-center(row);
        // gap: 10px;

        .open-search {
            cursor: pointer;

            .fa-solid {
                color: $white-color;
                font-size: 1.8rem;
                font-weight: 700;
            }

            &.open {
                display: none;
            }
        }

        .close-search {
            @include flex-center(row);
            gap: 10px;
            transition: all 0.3s ease;
            display: none;
            margin-right: 5px;

            & p {
                color: $white-color;
                @include sans(bold);
                font-size: 1rem;
            }

            .fa-solid {
                color: $white-color;
                font-size: 1.8rem;
                font-weight: 700;
            }

            &.open {
                display: flex;
            }
        }
    }
}

.menu-btn2 {
    @include flex-center(column);
    height: 20px;
    width: 28px;
    cursor: pointer;
    display: block;
    position: relative;
    transition: all 0.5s ease;
    // background-color: $white-color;

    .hamburger-close {
        @include flex-center(row);
        gap: 10px;
        position: absolute;
        top: -0.5px;
        transition: all 0.3s ease;
        left: 4;
        display: none;

        & p {
            color: $white-color;
            @include sans(bold);
            font-size: 1rem;
        }

        .fa-solid {
            color: $white-color;
            font-size: 2rem;
            font-weight: 700;
        }

        &.open {
            display: flex;
        }
    }

    .hamburger {
        @include flex-center(column);
        position: absolute;
        top: 0.5rem;
        width: 28px;
        height: 3.5px;
        border-radius: 50px;
        background-color: $white-color;
        transition: all 0.3s ease;

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 28px;
            height: 3.5px;
            border-radius: 50px;
            background-color: $white-color;
            transition: all 0.3s ease;
        }

        &::before {
            top: -8px;
        }

        &::after {
            bottom: -8px;
        }

        &.open {
            display: none;
        }
    }
}

.dropdown-menu2 {
    // visibility: hidden;
    display: flex;
    background-color: $primary-color;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 88px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    @include respond-to(md) {
        top: 72px;
    }

    @include respond-to(sm) {
        top: 69px;
    }

    @include respond-to(slide-sm) {
        top: 69px;
    }

    &.open {
        // visibility: visible;
        transform: translateY(0);
    }

    img {
        width: 500px;
        height: auto;
        position: absolute;
        opacity: 0.05;

        @include respond-to(sm) {
            width: 350px;
        }
    }

    ul {
        @include flex-center(column);
        justify-content: flex-start;
        gap: 50px;
        padding-top: 5px;

        .dropdown-menu_items2 {
            @include sans(bold);
            font-size: 1.4rem;
            opacity: 0;
            transform: translateX(-30px);
            transition:
                opacity 0.4s,
                transform 0.4s;

            // Animate each item with a delay based on its index
            &.open {
                opacity: 1;
                transform: translateX(0);
            }

            a {
                color: $white-color;
                transition: color 0.3s ease;
            }

            &:hover a {
                color: $primary-color;
                background-color: $secondary-color;
                padding: 10px 30px;
            }
        }
    }
}

.search-drop {
    background-color: $primary-color;
    // visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 88px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    @include respond-to(md) {
        top: 72px;
    }

    @include respond-to(sm) {
        top: 69px;
    }

    @include respond-to(slide-sm) {
        top: 69px;
    }

    &.open {
        // visibility: visible;
        transform: translateY(0);
    }

    img {
        width: 500px;
        height: auto;
        position: absolute;
        opacity: 0.05;

        @include respond-to(sm) {
            width: 350px;
        }
    }

    .overlay {
        .overlay-content {
            text-align: center;
            color: $white-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-bottom: 100px;

            input {
                width: 600px;
                max-width: 800px;
                padding: 12px 160px;
                border: none;
                font-size: 1rem;
                color: $white-color;
                outline: none;
                background: transparent;
                border-bottom: 1.5px solid white;

                @include respond-to(sm) {
                    width: 400px;
                    padding: 12px 100px;
                }

                &::placeholder {
                    color: $white-color;
                    opacity: 0.5;
                    text-align: center;
                }
            }

            button {
                background: transparent;
                cursor: pointer;
                font-size: 1.2rem;
                color: $white-color;
                border: none;
            }
        }
    }
}

.top {
    top: 58px;

    @include respond-to(md) {
        top: 53.5px;
    }

    @include respond-to(sm) {
        top: 53.7px;
    }

    @include respond-to(slide-sm) {
        top: 53.7px;
    }
}

.s-top {
    top: 58px;

    @include respond-to(md) {
        top: 53.5px;
    }

    @include respond-to(sm) {
        top: 53.7px;
    }

    @include respond-to(slide-sm) {
        top: 53.7px;
    }
}
